swagger: "2.0"
info:
  title: v2/eth-bytecode-db.proto
  version: version not set
tags:
  - name: Database
  - name: SolidityVerifier
  - name: VyperVerifier
  - name: SourcifyVerifier
  - name: Health
consumes:
  - application/json
produces:
  - application/json
paths:
  /api/v2/bytecodes/sources:search:
    post:
      operationId: Database_SearchSources
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2SearchSourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2SearchSourcesRequest'
      tags:
        - Database
  /api/v2/bytecodes/sources:search-all:
    post:
      operationId: Database_SearchAllSources
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2SearchAllSourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2SearchAllSourcesRequest'
      tags:
        - Database
  /api/v2/bytecodes/sources:search-sourcify:
    post:
      operationId: Database_SearchSourcifySources
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2SearchSourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2SearchSourcifySourcesRequest'
      tags:
        - Database
  /api/v2/verifier/solidity/sources:verify-multi-part:
    post:
      operationId: SolidityVerifier_VerifyMultiPart
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2VerifyResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2VerifySolidityMultiPartRequest'
      tags:
        - SolidityVerifier
  /api/v2/verifier/solidity/sources:verify-standard-json:
    post:
      operationId: SolidityVerifier_VerifyStandardJson
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2VerifyResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2VerifySolidityStandardJsonRequest'
      tags:
        - SolidityVerifier
  /api/v2/verifier/solidity/versions:
    get:
      operationId: SolidityVerifier_ListCompilerVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2ListCompilerVersionsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
        - SolidityVerifier
  /api/v2/verifier/sourcify/sources:verify:
    post:
      operationId: SourcifyVerifier_Verify
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2VerifyResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2VerifySourcifyRequest'
      tags:
        - SourcifyVerifier
  /api/v2/verifier/sourcify/sources:verify-from-etherscan:
    post:
      operationId: SourcifyVerifier_VerifyFromEtherscan
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2VerifyResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2VerifyFromEtherscanSourcifyRequest'
      tags:
        - SourcifyVerifier
  /api/v2/verifier/vyper/sources:verify-multi-part:
    post:
      operationId: VyperVerifier_VerifyMultiPart
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2VerifyResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2VerifyVyperMultiPartRequest'
      tags:
        - VyperVerifier
  /api/v2/verifier/vyper/sources:verify-standard-json:
    post:
      operationId: VyperVerifier_VerifyStandardJson
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2VerifyResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v2VerifyVyperStandardJsonRequest'
      tags:
        - VyperVerifier
  /api/v2/verifier/vyper/versions:
    get:
      operationId: VyperVerifier_ListCompilerVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2ListCompilerVersionsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
        - VyperVerifier
  /health:
    get:
      summary: |-
        If the requested service is unknown, the call will fail with status
        NOT_FOUND.
      operationId: Health_Check
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v2HealthCheckResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: service
          in: query
          required: false
          type: string
      tags:
        - Health
definitions:
  HealthCheckResponseServingStatus:
    type: string
    enum:
      - UNKNOWN
      - SERVING
      - NOT_SERVING
      - SERVICE_UNKNOWN
    default: UNKNOWN
  SourceMatchType:
    type: string
    enum:
      - MATCH_TYPE_UNSPECIFIED
      - PARTIAL
      - FULL
    default: MATCH_TYPE_UNSPECIFIED
    description: ' - MATCH_TYPE_UNSPECIFIED: Default value. This value is unused.'
  SourceSourceType:
    type: string
    enum:
      - SOURCE_TYPE_UNSPECIFIED
      - SOLIDITY
      - VYPER
      - YUL
    default: SOURCE_TYPE_UNSPECIFIED
    description: ' - SOURCE_TYPE_UNSPECIFIED: Default value. This value is unused.'
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      details:
        type: array
        items:
          $ref: '#/definitions/protobufAny'
      message:
        type: string
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  v2BytecodeType:
    type: string
    enum:
      - BYTECODE_TYPE_UNSPECIFIED
      - CREATION_INPUT
      - DEPLOYED_BYTECODE
    default: BYTECODE_TYPE_UNSPECIFIED
  v2HealthCheckResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/HealthCheckResponseServingStatus'
  v2ListCompilerVersionsResponse:
    type: object
    properties:
      compilerVersions:
        type: array
        items:
          type: string
        title: / Compiler versions available
  v2SearchAllSourcesRequest:
    type: object
    properties:
      address:
        type: string
        title: / The address of the contract being verified
      bytecode:
        type: string
        title: / Bytecode to search the sources for
      bytecodeType:
        $ref: '#/definitions/v2BytecodeType'
        title: / Either CREATION_INPUT or DEPLOYED_BYTECODE, depending on what you are looking upon
      chain:
        type: string
        title: / Id of the chain the contract should be verified on
  v2SearchAllSourcesResponse:
    type: object
    properties:
      ethBytecodeDbSources:
        type: array
        items:
          $ref: '#/definitions/v2Source'
      sourcifySources:
        type: array
        items:
          $ref: '#/definitions/v2Source'
  v2SearchSourcesRequest:
    type: object
    properties:
      bytecode:
        type: string
        title: / Bytecode to search the sources for
      bytecodeType:
        $ref: '#/definitions/v2BytecodeType'
        title: / Either CREATION_INPUT or DEPLOYED_BYTECODE, depending on what you are looking upon
  v2SearchSourcesResponse:
    type: object
    properties:
      sources:
        type: array
        items:
          $ref: '#/definitions/v2Source'
  v2SearchSourcifySourcesRequest:
    type: object
    properties:
      address:
        type: string
        title: / The address of the contract being verified
      chain:
        type: string
        title: / Id of the chain the contract should be verified on
  v2Source:
    type: object
    properties:
      abi:
        type: string
        title: |-
          / Contract abi (https://docs.soliditylang.org/en/latest/abi-spec.html?highlight=abi#json);
          / (does not exist for Yul contracts)
      compilationArtifacts:
        type: string
        description: |-
          / General and compiler-specific artifacts (abi, userdoc, devdoc, licenses, ast, etc),
          / encoded as a json.
      compilerSettings:
        type: string
        title: |-
          / 'settings' key in Standard Input JSON
          / (https://docs.soliditylang.org/en/latest/using-the-compiler.html#input-description)
      compilerVersion:
        type: string
        title: Compiler version used to compile the contract
      constructorArguments:
        type: string
        title: |-
          / Constructor arguments used for deploying verified contract
          / (exists only for creation inputs)
      contractName:
        type: string
        title: / The name of the contract which was verified
      creationInputArtifacts:
        type: string
        description: / Info about the creation code (sourcemaps, linkreferences) encoded as a json.
      deployedBytecodeArtifacts:
        type: string
        description: / Info about the runtime code (sourcemaps, linkreferences, immutables) encoded as a json.
      fileName:
        type: string
        title: / The name of the file verified contract was located at
      matchType:
        $ref: '#/definitions/SourceMatchType'
        title: / Similar to Sourcify (see https://docs.sourcify.dev/docs/full-vs-partial-match/)
      sourceFiles:
        type: object
        additionalProperties:
          type: string
      sourceType:
        $ref: '#/definitions/SourceSourceType'
  v2VerificationMetadata:
    type: object
    properties:
      blockNumber:
        type: string
        format: int64
        title: / The number of the block containing the creation transaction
      chainId:
        type: string
        title: / Id of the chain the contract is verified on
      contractAddress:
        type: string
        title: / The address of the contract to be verified
      creationCode:
        type: string
        title: / The bytecode from the calldata (for eoa deployments) or given to create/create2
      deployer:
        type: string
        title: / The address which actually deployed the contract (i.e. called the create/create2 opcode)
      runtimeCode:
        type: string
        title: The bytecode actually stored in the blockchain for the given contract
      transactionHash:
        type: string
        title: / The hash of the transaction the contract has been created at
      transactionIndex:
        type: string
        format: int64
        title: / The position number transaction has been added into a block
  v2VerifyFromEtherscanSourcifyRequest:
    type: object
    properties:
      address:
        type: string
        title: / Address of the contract to be verified
      chain:
        type: string
        title: |-
          / The chain (network) the contract was deployed to
          / (https://docs.sourcify.dev/docs/api/chains/)
  v2VerifyResponse:
    type: object
    properties:
      message:
        type: string
      source:
        $ref: '#/definitions/v2Source'
      status:
        $ref: '#/definitions/v2VerifyResponseStatus'
  v2VerifyResponseStatus:
    type: string
    enum:
      - STATUS_UNSPECIFIED
      - SUCCESS
      - FAILURE
    default: STATUS_UNSPECIFIED
  v2VerifySolidityMultiPartRequest:
    type: object
    properties:
      bytecode:
        type: string
        title: / Bytecode to compare local compilation result with
      bytecodeType:
        $ref: '#/definitions/v2BytecodeType'
        title: / Either CREATION_INPUT or DEPLOYED_BYTECODE, depending on what should be verified
      compilerVersion:
        type: string
        title: / Compiler version used to compile the contract
      evmVersion:
        type: string
        title: / Version of the EVM to compile for. If absent results in default EVM version
      libraries:
        type: object
        additionalProperties:
          type: string
        title: / Map from a library name to its address
      metadata:
        $ref: '#/definitions/v2VerificationMetadata'
        title: / An optional field to be filled by explorers
      optimizationRuns:
        type: integer
        format: int32
        title: |-
          / If present, optimizations are enabled with specified number of runs,
          / otherwise optimizations are disabled
      sourceFiles:
        type: object
        additionalProperties:
          type: string
        title: / Map from a source file name to the actual source code
  v2VerifySolidityStandardJsonRequest:
    type: object
    properties:
      bytecode:
        type: string
        title: / Bytecode to compare local compilation result with
      bytecodeType:
        $ref: '#/definitions/v2BytecodeType'
        title: / Either CREATION_INPUT or DEPLOYED_BYTECODE, depending on what should be verified
      compilerVersion:
        type: string
        title: / Compiler version used to compile the contract
      input:
        type: string
        title: / https://docs.soliditylang.org/en/latest/using-the-compiler.html#input-description
      metadata:
        $ref: '#/definitions/v2VerificationMetadata'
        title: / An optional field to be filled by explorers
  v2VerifySourcifyRequest:
    type: object
    properties:
      address:
        type: string
        title: / Address of the contract to be verified
      chain:
        type: string
        title: |-
          / The chain (network) the contract was deployed to
          / (https://docs.sourcify.dev/docs/api/chains/)
      chosenContract:
        type: integer
        format: int32
        title: (optional) see Sourcify Api
      files:
        type: object
        additionalProperties:
          type: string
        title: |-
          / Files required for verification (see Sourcify Api)
          Named as `files` instead of `source_files`
          to correspond with Sourcify api
  v2VerifyVyperMultiPartRequest:
    type: object
    properties:
      bytecode:
        type: string
        title: / Bytecode to compare local compilation result with
      bytecodeType:
        $ref: '#/definitions/v2BytecodeType'
        title: / Either CREATION_INPUT or DEPLOYED_BYTECODE, depending on what should be verified
      compilerVersion:
        type: string
        title: / Compiler version used to compile the contract
      evmVersion:
        type: string
        title: / Version of the EVM to compile for. If absent results in default EVM version
      interfaces:
        type: object
        additionalProperties:
          type: string
        description: |-
          / Map from an interface names to the actual interfaces.
          / If non-specified, no interfaces are considered.
      metadata:
        $ref: '#/definitions/v2VerificationMetadata'
        title: / An optional field to be filled by explorers
      sourceFiles:
        type: object
        additionalProperties:
          type: string
        title: / Map from a source file name to the actual source code
  v2VerifyVyperStandardJsonRequest:
    type: object
    properties:
      bytecode:
        type: string
        title: / Bytecode to compare local compilation result with
      bytecodeType:
        $ref: '#/definitions/v2BytecodeType'
        title: / Either CREATION_INPUT or DEPLOYED_BYTECODE, depending on what should be verified
      compilerVersion:
        type: string
        title: / Compiler version used to compile the contract
      input:
        type: string
        title: / https://docs.vyperlang.org/en/stable/compiling-a-contract.html#input-json-description
      metadata:
        $ref: '#/definitions/v2VerificationMetadata'
        title: / An optional field to be filled by explorers
