[package]
name = "stats"
version = "0.1.0"
edition = "2021"

[dependencies]
entity = { path = "./entity" }
blockscout-db = { git = "https://github.com/blockscout/blockscout-rs", rev = "fd205eb1" }
blockscout-metrics-tools = { git = "https://github.com/blockscout/blockscout-rs", rev = "980634e" }
sea-orm = { version = "0.12", features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
] }
tokio = "1"
thiserror = "1.0"
chrono = "0.4"
paste = "1.0"
portrait = "0.3.0"
async-trait = "0.1"
tracing = "0.1"
tynm = "0.1.10"
futures = "0.3"
migration = { path = "./migration" }
url = "2.3"
rand = "0.8"
lazy_static = "1.4"
prometheus = "0.13"
anyhow = "1"
itertools = "0.13.0"
rust_decimal = "1.27"

# Dependencies for test-utils only
pretty_assertions = { version= "1.2", optional = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"], optional = true }
blockscout-service-launcher = { version = "0.13.1", features = [ "database-0_12", "test-database" ], optional = true }

[dev-dependencies]
pretty_assertions = "1.2"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
blockscout-service-launcher = { version = "0.13.1", features = [ "database-0_12", "test-database" ] }
sea-orm = { version = "0.12", features = [
    "sqlx-postgres",
    "sqlx-sqlite",
    "runtime-tokio-rustls",
] }
rust_decimal = "1.27"
rust_decimal_macros = "1.27"

[features]
default = []
test-utils = ["dep:tracing-subscriber", "dep:blockscout-service-launcher", "dep:pretty_assertions"]
