.docker

# Graph cli generated
generated
build/
.DS_STORE
data
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Built output
dist

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

/tests/.bin

*.xlsx
*.csv
