swagger: "2.0"
info:
  title: Interchain Indexer service
  version: 0.1.1
  contact:
    name: Blockscout
    url: https://blockscout.com
    email: support@blockscout.com
tags:
  - name: InterchainService
  - name: InterchainStatisticsService
  - name: StatusService
  - name: Health
host: interchain-indexer.services.blockscout.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /api/v1/interchain/bridges:
    get:
      operationId: InterchainService_GetBridges
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetBridgesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - InterchainService
  /api/v1/interchain/chains:
    get:
      operationId: InterchainService_GetChains
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetChainsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - InterchainService
  /api/v1/interchain/messages:
    get:
      operationId: InterchainService_GetMessages
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMessagesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: q
          description: multisearch ability
          in: query
          required: false
          type: string
        - name: page_size
          description: 'Items on a page: bounded by the API settings'
          in: query
          required: false
          type: integer
          format: int64
        - name: last_page
          description: If true, return only the last page (pagination token is ignored)
          in: query
          required: false
          type: boolean
        - name: page_token
          description: |-
            input pagination token - used by default
            (packed version of the raw pagination parameters)
          in: query
          required: false
          type: string
        - name: timestamp
          description: |-
            Raw pagination parameters
            (used when api.use_pagination_token=false)

            Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: message_id
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: bridge_id
          description: Raw pagination field
          in: query
          required: false
          type: integer
          format: int64
        - name: direction
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: home_chain_id
          description: 'Filter: only messages touching this chain (src = N OR dst = N).'
          in: query
          required: false
          type: string
          format: int64
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. With home_chain_id: restricts the other
            endpoint (peer) to this set. Without home_chain_id: both endpoints
            must be within the set. Messages with unknown (NULL) destination are
            excluded whenever this set is present.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: Comma-separated bridge ids (see GET /api/v1/interchain/bridges).
          in: query
          required: false
          type: string
        - name: src_chain_ids
          description: |-
            Comma-separated source chain ids. Independent directional filter that
            narrows the focal predicate through AND (matches messages whose
            src_chain_id is in this set). src_chain_ids and dst_chain_ids are
            independent direction sets; both apply when both are present.
          in: query
          required: false
          type: string
        - name: dst_chain_ids
          description: |-
            Comma-separated destination chain ids. Independent directional filter that
            narrows the focal predicate through AND (matches messages whose
            dst_chain_id is in this set). A destination filter excludes messages with a
            NULL destination through normal SQL semantics.
          in: query
          required: false
          type: string
      tags:
        - InterchainService
  /api/v1/interchain/messages/{message_id}:
    get:
      operationId: InterchainService_GetMessageDetails
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1InterchainMessage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: message_id
          in: path
          required: true
          type: string
        - name: bridge_id
          description: |-
            Optional bridge qualifier. Required when message_id exists in more than one
            bridge. An ambiguous unqualified lookup returns gRPC FailedPrecondition
            (HTTP 400) with instruction to provide bridge_id.
          in: query
          required: false
          type: integer
          format: int64
      tags:
        - InterchainService
  /api/v1/interchain/messages:byAddress/{address}:
    get:
      operationId: InterchainService_GetMessagesByAddress
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMessagesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: address
          in: path
          required: true
          type: string
        - name: page_size
          description: 'Items on a page: bounded by the API settings'
          in: query
          required: false
          type: integer
          format: int64
        - name: last_page
          description: If true, return only the last page (pagination token is ignored)
          in: query
          required: false
          type: boolean
        - name: page_token
          description: |-
            input pagination token - used by default
            (packed version of the raw pagination parameters)
          in: query
          required: false
          type: string
        - name: timestamp
          description: |-
            Raw pagination parameters
            (used when api.use_pagination_token=false)

            Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: message_id
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: bridge_id
          description: Raw pagination field
          in: query
          required: false
          type: integer
          format: int64
        - name: direction
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: home_chain_id
          description: 'Filter: only messages touching this chain (src = N OR dst = N).'
          in: query
          required: false
          type: string
          format: int64
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. With home_chain_id: restricts the other
            endpoint (peer) to this set. Without home_chain_id: both endpoints
            must be within the set. Messages with unknown (NULL) destination are
            excluded whenever this set is present.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: Comma-separated bridge ids (see GET /api/v1/interchain/bridges).
          in: query
          required: false
          type: string
        - name: src_chain_ids
          description: |-
            Comma-separated source chain ids. Independent directional filter that
            narrows the focal predicate through AND (matches messages whose
            src_chain_id is in this set). src_chain_ids and dst_chain_ids are
            independent direction sets; both apply when both are present.
          in: query
          required: false
          type: string
        - name: dst_chain_ids
          description: |-
            Comma-separated destination chain ids. Independent directional filter that
            narrows the focal predicate through AND (matches messages whose
            dst_chain_id is in this set). A destination filter excludes messages with a
            NULL destination through normal SQL semantics.
          in: query
          required: false
          type: string
      tags:
        - InterchainService
  /api/v1/interchain/messages:byTx/{tx_hash}:
    get:
      operationId: InterchainService_GetMessagesByTransaction
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMessagesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: tx_hash
          in: path
          required: true
          type: string
        - name: page_size
          description: 'Items on a page: bounded by the API settings'
          in: query
          required: false
          type: integer
          format: int64
        - name: last_page
          description: If true, return only the last page (pagination token is ignored)
          in: query
          required: false
          type: boolean
        - name: page_token
          description: |-
            input pagination token - used by default
            (packed version of the raw pagination parameters)
          in: query
          required: false
          type: string
        - name: timestamp
          description: |-
            Raw pagination parameters
            (used when api.use_pagination_token=false)

            Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: message_id
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: bridge_id
          description: Raw pagination field
          in: query
          required: false
          type: integer
          format: int64
        - name: direction
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: home_chain_id
          description: 'Filter: only messages touching this chain (src = N OR dst = N).'
          in: query
          required: false
          type: string
          format: int64
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. With home_chain_id: restricts the other
            endpoint (peer) to this set. Without home_chain_id: both endpoints
            must be within the set. Messages with unknown (NULL) destination are
            excluded whenever this set is present.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: Comma-separated bridge ids (see GET /api/v1/interchain/bridges).
          in: query
          required: false
          type: string
        - name: src_chain_ids
          description: |-
            Comma-separated source chain ids. Independent directional filter that
            narrows the focal predicate through AND (matches messages whose
            src_chain_id is in this set). src_chain_ids and dst_chain_ids are
            independent direction sets; both apply when both are present.
          in: query
          required: false
          type: string
        - name: dst_chain_ids
          description: |-
            Comma-separated destination chain ids. Independent directional filter that
            narrows the focal predicate through AND (matches messages whose
            dst_chain_id is in this set). A destination filter excludes messages with a
            NULL destination through normal SQL semantics.
          in: query
          required: false
          type: string
      tags:
        - InterchainService
  /api/v1/interchain/transfers:
    get:
      operationId: InterchainService_GetTransfers
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetTransfersResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: q
          description: multisearch ability
          in: query
          required: false
          type: string
        - name: page_size
          description: 'Items on a page: bounded by the API settings'
          in: query
          required: false
          type: integer
          format: int64
        - name: last_page
          description: If true, return only the last page (pagination token is ignored)
          in: query
          required: false
          type: boolean
        - name: page_token
          description: |-
            input pagination token - used by default
            (packed version of the raw pagination parameters)
          in: query
          required: false
          type: string
        - name: timestamp
          description: |-
            Raw pagination parameters
            (used when api.use_pagination_token=false)

            Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: message_id
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: bridge_id
          description: Raw pagination field
          in: query
          required: false
          type: integer
          format: int64
        - name: index
          description: Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: direction
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: home_chain_id
          description: |-
            Filter: only transfers touching this chain (token_src = N OR token_dst = N).
            Matched by the transfer's own source/destination chains.
          in: query
          required: false
          type: string
          format: int64
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. With home_chain_id: restricts the other
            endpoint (peer) to this set. Without home_chain_id: both endpoints
            must be within the set. Matched by the transfer's own source/destination chains.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: Comma-separated bridge ids (see GET /api/v1/interchain/bridges).
          in: query
          required: false
          type: string
        - name: src_chain_ids
          description: |-
            Comma-separated source chain ids. Independent directional filter that
            narrows the focal predicate through AND. Matched by the transfer's own token
            source chain (token_src_chain_id). src_chain_ids and dst_chain_ids are
            independent direction sets; both apply when both are present.
          in: query
          required: false
          type: string
        - name: dst_chain_ids
          description: |-
            Comma-separated destination chain ids. Independent directional filter that
            narrows the focal predicate through AND. Matched by the transfer's own token
            destination chain (token_dst_chain_id).
          in: query
          required: false
          type: string
      tags:
        - InterchainService
  /api/v1/interchain/transfers:byAddress/{address}:
    get:
      operationId: InterchainService_GetTransfersByAddress
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetTransfersResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: address
          in: path
          required: true
          type: string
        - name: page_size
          description: 'Items on a page: bounded by the API settings'
          in: query
          required: false
          type: integer
          format: int64
        - name: last_page
          description: If true, return only the last page (pagination token is ignored)
          in: query
          required: false
          type: boolean
        - name: page_token
          description: |-
            input pagination token - used by default
            (packed version of the raw pagination parameters)
          in: query
          required: false
          type: string
        - name: timestamp
          description: |-
            Raw pagination parameters
            (used when api.use_pagination_token=false)

            Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: message_id
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: bridge_id
          description: Raw pagination field
          in: query
          required: false
          type: integer
          format: int64
        - name: index
          description: Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: direction
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: home_chain_id
          description: |-
            Filter: only transfers touching this chain (token_src = N OR token_dst = N).
            Matched by the transfer's own source/destination chains.
          in: query
          required: false
          type: string
          format: int64
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. With home_chain_id: restricts the other
            endpoint (peer) to this set. Without home_chain_id: both endpoints
            must be within the set. Matched by the transfer's own source/destination chains.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: Comma-separated bridge ids (see GET /api/v1/interchain/bridges).
          in: query
          required: false
          type: string
        - name: src_chain_ids
          description: |-
            Comma-separated source chain ids. Independent directional filter that
            narrows the focal predicate through AND. Matched by the transfer's own token
            source chain (token_src_chain_id). src_chain_ids and dst_chain_ids are
            independent direction sets; both apply when both are present.
          in: query
          required: false
          type: string
        - name: dst_chain_ids
          description: |-
            Comma-separated destination chain ids. Independent directional filter that
            narrows the focal predicate through AND. Matched by the transfer's own token
            destination chain (token_dst_chain_id).
          in: query
          required: false
          type: string
      tags:
        - InterchainService
  /api/v1/interchain/transfers:byTx/{tx_hash}:
    get:
      operationId: InterchainService_GetTransfersByTransaction
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetTransfersResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: tx_hash
          in: path
          required: true
          type: string
        - name: page_size
          description: 'Items on a page: bounded by the API settings'
          in: query
          required: false
          type: integer
          format: int64
        - name: last_page
          description: If true, return only the last page (pagination token is ignored)
          in: query
          required: false
          type: boolean
        - name: page_token
          description: |-
            input pagination token - used by default
            (packed version of the raw pagination parameters)
          in: query
          required: false
          type: string
        - name: timestamp
          description: |-
            Raw pagination parameters
            (used when api.use_pagination_token=false)

            Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: message_id
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: bridge_id
          description: Raw pagination field
          in: query
          required: false
          type: integer
          format: int64
        - name: index
          description: Raw pagination field
          in: query
          required: false
          type: string
          format: uint64
        - name: direction
          description: Raw pagination field
          in: query
          required: false
          type: string
        - name: home_chain_id
          description: |-
            Filter: only transfers touching this chain (token_src = N OR token_dst = N).
            Matched by the transfer's own source/destination chains.
          in: query
          required: false
          type: string
          format: int64
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. With home_chain_id: restricts the other
            endpoint (peer) to this set. Without home_chain_id: both endpoints
            must be within the set. Matched by the transfer's own source/destination chains.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: Comma-separated bridge ids (see GET /api/v1/interchain/bridges).
          in: query
          required: false
          type: string
        - name: src_chain_ids
          description: |-
            Comma-separated source chain ids. Independent directional filter that
            narrows the focal predicate through AND. Matched by the transfer's own token
            source chain (token_src_chain_id). src_chain_ids and dst_chain_ids are
            independent direction sets; both apply when both are present.
          in: query
          required: false
          type: string
        - name: dst_chain_ids
          description: |-
            Comma-separated destination chain ids. Independent directional filter that
            narrows the focal predicate through AND. Matched by the transfer's own token
            destination chain (token_dst_chain_id).
          in: query
          required: false
          type: string
      tags:
        - InterchainService
  /api/v1/stats/chain/{chain_id}/bridged-tokens:
    get:
      operationId: InterchainStatisticsService_GetBridgedTokens
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetBridgedTokensResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: chain_id
          description: The home (focal) chain.
          in: path
          required: true
          type: string
          format: int64
        - name: page_size
          in: query
          required: false
          type: integer
          format: int64
        - name: last_page
          in: query
          required: false
          type: boolean
        - name: sort
          description: 'Sort field: TOTAL_TRANSFERS_COUNT[default] / OUTPUT_TRANSFERS_COUNT / INPUT_TRANSFERS_COUNT / NAME'
          in: query
          required: false
          type: string
          enum:
            - TOTAL_TRANSFERS_COUNT
            - OUTPUT_TRANSFERS_COUNT
            - INPUT_TRANSFERS_COUNT
            - NAME
          default: TOTAL_TRANSFERS_COUNT
        - name: order
          description: 'Sort order: DESC[default] / ASC'
          in: query
          required: false
          type: string
          enum:
            - DESC
            - ASC
          default: DESC
        - name: page_token
          description: Token-based pagination
          in: query
          required: false
          type: string
        - name: direction
          description: Flat keys matching `BridgedTokensListPagination` / `next_page_params` / `prev_page_params` (for `api.use_pagination_token=false`, pass that dict fields here).
          in: query
          required: false
          type: string
        - name: asset_id
          in: query
          required: false
          type: string
          format: int64
        - name: name
          in: query
          required: false
          type: string
        - name: name_blank
          in: query
          required: false
          type: boolean
        - name: count
          in: query
          required: false
          type: string
          format: uint64
        - name: q
          description: Case-insensitive substring filter on the row display name (`stats_assets.name`).
          in: query
          required: false
          type: string
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. Restricts counterparty chains of the edges
            aggregated for `{chain_id}`.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: |-
            Comma-separated bridge ids (see GET /api/v1/interchain/bridges). Restricts
            the aggregated edges to the selected bridges; bridge rows are summed per
            asset before pagination. Absent or blank means all bridges. Composes with
            `counterparty_chain_ids` through AND. Malformed/out-of-range values are
            rejected with InvalidArgument. Page tokens are scoped to the same bridge
            and counterparty filters that produced them.
          in: query
          required: false
          type: string
      tags:
        - InterchainStatisticsService
  /api/v1/stats/chain/{chain_id}/messages-paths/received:
    get:
      operationId: InterchainStatisticsService_GetReceivedMessagePaths
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMessagePathsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: chain_id
          description: The home (focal) chain.
          in: path
          required: true
          type: string
          format: int64
        - name: from_date
          description: YYYY-MM-DD
          in: query
          required: false
          type: string
        - name: to_date
          description: YYYY-MM-DD
          in: query
          required: false
          type: string
        - name: counterparty_chain_ids
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: |-
            Comma-separated bridge ids (see GET /api/v1/interchain/bridges). Restricts
            the message paths to the selected bridges; bridge rows are summed per
            directional edge. Absent or blank means all bridges. Composes with
            `counterparty_chain_ids` through AND. Malformed/out-of-range values are
            rejected with InvalidArgument.
          in: query
          required: false
          type: string
      tags:
        - InterchainStatisticsService
  /api/v1/stats/chain/{chain_id}/messages-paths/sent:
    get:
      operationId: InterchainStatisticsService_GetSentMessagePaths
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMessagePathsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: chain_id
          description: The home (focal) chain.
          in: path
          required: true
          type: string
          format: int64
        - name: from_date
          description: YYYY-MM-DD
          in: query
          required: false
          type: string
        - name: to_date
          description: YYYY-MM-DD
          in: query
          required: false
          type: string
        - name: counterparty_chain_ids
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: |-
            Comma-separated bridge ids (see GET /api/v1/interchain/bridges). Restricts
            the message paths to the selected bridges; bridge rows are summed per
            directional edge. Absent or blank means all bridges. Composes with
            `counterparty_chain_ids` through AND. Malformed/out-of-range values are
            rejected with InvalidArgument.
          in: query
          required: false
          type: string
      tags:
        - InterchainStatisticsService
  /api/v1/stats/chains:
    get:
      operationId: InterchainStatisticsService_GetChainsStats
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetChainsStatsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: page_size
          in: query
          required: false
          type: integer
          format: int64
        - name: last_page
          in: query
          required: false
          type: boolean
        - name: chain_ids
          description: |-
            Optional comma-separated chain ids filter, for example `123,456`.
            When absent or empty, statistics are returned for all known chains.
            Selects subject rows (chains listed), not counterparties.
          in: query
          required: false
          type: string
        - name: order
          description: 'Sort order: DESC[default] / ASC'
          in: query
          required: false
          type: string
          enum:
            - DESC
            - ASC
          default: DESC
        - name: page_token
          description: token-based pagination
          in: query
          required: false
          type: string
        - name: direction
          description: raw pagination fields
          in: query
          required: false
          type: string
        - name: count
          in: query
          required: false
          type: string
          format: uint64
        - name: chain_id
          in: query
          required: false
          type: string
          format: int64
        - name: q
          description: Case-insensitive substring filter on chain name or textual chain id.
          in: query
          required: false
          type: string
        - name: sort
          description: 'Sort field: UNIQUE_TRANSFER_USERS_COUNT[default]'
          in: query
          required: false
          type: string
          enum:
            - UNIQUE_TRANSFER_USERS_COUNT
          default: UNIQUE_TRANSFER_USERS_COUNT
      tags:
        - InterchainStatisticsService
  /api/v1/stats/common:
    get:
      operationId: InterchainStatisticsService_GetCommonStatistics
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCommonStatisticsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: timestamp
          in: query
          required: false
          type: string
          format: uint64
        - name: home_chain_id
          description: 'Filter: only messages/transfers touching this chain (src = N OR dst = N).'
          in: query
          required: false
          type: string
          format: int64
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. With home_chain_id: restricts the other
            endpoint (peer) to this set. Without home_chain_id: both endpoints
            must be within the set. Messages with unknown (NULL) destination are
            excluded whenever this set is present.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: Comma-separated bridge ids (see GET /api/v1/interchain/bridges).
          in: query
          required: false
          type: string
        - name: src_chain_ids
          description: |-
            Comma-separated source chain ids. Independent directional filter that
            narrows the focal predicate through AND. src_chain_ids and dst_chain_ids
            are independent direction sets; both apply when both are present. The
            message counter matches message src/dst chains; the transfer counter
            matches the transfer's own token src/dst chains.
          in: query
          required: false
          type: string
        - name: dst_chain_ids
          description: |-
            Comma-separated destination chain ids. Independent directional filter that
            narrows the focal predicate through AND. A destination filter excludes
            messages with a NULL destination through normal SQL semantics.
          in: query
          required: false
          type: string
      tags:
        - InterchainStatisticsService
  /api/v1/stats/daily:
    get:
      operationId: InterchainStatisticsService_GetDailyStatistics
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetDailyStatisticsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: timestamp
          in: query
          required: false
          type: string
          format: uint64
        - name: home_chain_id
          description: 'Filter: only messages/transfers touching this chain (src = N OR dst = N).'
          in: query
          required: false
          type: string
          format: int64
        - name: counterparty_chain_ids
          description: |-
            Comma-separated chain ids. With home_chain_id: restricts the other
            endpoint (peer) to this set. Without home_chain_id: both endpoints
            must be within the set. Messages with unknown (NULL) destination are
            excluded whenever this set is present.
          in: query
          required: false
          type: string
        - name: bridge_ids
          description: Comma-separated bridge ids (see GET /api/v1/interchain/bridges).
          in: query
          required: false
          type: string
        - name: src_chain_ids
          description: |-
            Comma-separated source chain ids. Independent directional filter that
            narrows the focal predicate through AND. src_chain_ids and dst_chain_ids
            are independent direction sets; both apply when both are present. The
            message counter matches message src/dst chains; the transfer counter
            matches the transfer's own token src/dst chains.
          in: query
          required: false
          type: string
        - name: dst_chain_ids
          description: |-
            Comma-separated destination chain ids. Independent directional filter that
            narrows the focal predicate through AND. A destination filter excludes
            messages with a NULL destination through normal SQL semantics.
          in: query
          required: false
          type: string
      tags:
        - InterchainStatisticsService
  /api/v1/status/indexers:
    get:
      operationId: StatusService_GetFullStatus
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1FullStatus'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - StatusService
  /api/v1/status/indexers/{indexer_name}:
    get:
      operationId: StatusService_GetStatusByIndexerName
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1IndexerStatus'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: indexer_name
          in: path
          required: true
          type: string
      tags:
        - StatusService
  /health:
    get:
      summary: |-
        If the requested service is unknown, the call will fail with status
        NOT_FOUND.
      operationId: Health_Check
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1HealthCheckResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: service
          in: query
          required: false
          type: string
      tags:
        - Health
definitions:
  HealthCheckResponseServingStatus:
    type: string
    enum:
      - UNKNOWN
      - SERVING
      - NOT_SERVING
      - SERVICE_UNKNOWN
    default: UNKNOWN
    description: ' - SERVICE_UNKNOWN: Used only by the Watch method.'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  protobufNullValue:
    type: string
    enum:
      - NULL_VALUE
    default: NULL_VALUE
    description: |-
      `NullValue` is a singleton enumeration to represent the null value for the
      `Value` type union.

      The JSON representation for `NullValue` is JSON `null`.

       - NULL_VALUE: Null value.
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v1AddressInfo:
    type: object
    properties:
      hash:
        type: string
      ens_domain_name:
        type: string
  v1Bridge:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      type:
        type: string
        title: '"lockmint" | "avalanche_native" | "amb"'
      enabled:
        type: boolean
      ui_url:
        type: string
      docs_url:
        type: string
  v1BridgeInfo:
    type: object
    properties:
      name:
        type: string
      ui_url:
        type: string
      docs_url:
        type: string
      id:
        type: integer
        format: int64
        description: Bridge id usable in bridge_ids filters.
  v1BridgedTokensListPagination:
    type: object
    properties:
      page_token:
        type: string
      direction:
        type: string
      asset_id:
        type: string
        format: int64
      name:
        type: string
      name_blank:
        type: boolean
      count:
        type: string
        format: uint64
    description: |-
      Pagination for bridged tokens stats only (`page_token` or explicit cursor fields).
      Does not reuse messages/transfers `Pagination` fields (timestamp, message_id, etc.).
      Tokens are only valid with the same `counterparty_chain_ids`, `bridge_ids`,
      `q`, `sort`, and `order` as the request that produced them.
  v1BridgedTokensSort:
    type: string
    enum:
      - TOTAL_TRANSFERS_COUNT
      - OUTPUT_TRANSFERS_COUNT
      - INPUT_TRANSFERS_COUNT
      - NAME
    default: TOTAL_TRANSFERS_COUNT
  v1ChainInfo:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      logo:
        type: string
      explorer_url:
        type: string
      custom_tx_route:
        type: string
      custom_address_route:
        type: string
      custom_token_route:
        type: string
  v1FullStatus:
    type: object
    properties:
      indexers:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1IndexerStatus'
  v1GetBridgedTokensResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1StatsBridgedTokenRow'
      next_page_params:
        $ref: '#/definitions/v1BridgedTokensListPagination'
      prev_page_params:
        $ref: '#/definitions/v1BridgedTokensListPagination'
  v1GetBridgesResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Bridge'
  v1GetChainsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1ChainInfo'
  v1GetChainsStatsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1StatsChainRow'
      next_page_params:
        $ref: '#/definitions/v1StatsChainsListPagination'
      prev_page_params:
        $ref: '#/definitions/v1StatsChainsListPagination'
  v1GetCommonStatisticsResponse:
    type: object
    properties:
      timestamp:
        type: string
      total_messages:
        type: string
        format: uint64
      total_transfers:
        type: string
        format: uint64
  v1GetDailyStatisticsResponse:
    type: object
    properties:
      date:
        type: string
      daily_messages:
        type: string
        format: uint64
      daily_transfers:
        type: string
        format: uint64
  v1GetMessagePathsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1MessagePathRow'
  v1GetMessagesResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1InterchainMessage'
      next_page_params:
        $ref: '#/definitions/v1Pagination'
      prev_page_params:
        $ref: '#/definitions/v1Pagination'
  v1GetTransfersResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1InterchainTransfer'
      next_page_params:
        $ref: '#/definitions/v1Pagination'
      prev_page_params:
        $ref: '#/definitions/v1Pagination'
  v1HealthCheckResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/HealthCheckResponseServingStatus'
  v1IndexerStatus:
    type: object
    properties:
      name:
        type: string
      description:
        type: string
      state:
        type: string
      init_timestamp:
        type: string
      extra_info:
        type: object
  v1InterchainMessage:
    type: object
    properties:
      bridge:
        $ref: '#/definitions/v1BridgeInfo'
      message_id:
        type: string
      status:
        $ref: '#/definitions/v1MessageStatus'
      source_chain:
        $ref: '#/definitions/v1ChainInfo'
      send_timestamp:
        type: string
      sender:
        $ref: '#/definitions/v1AddressInfo'
      source_transaction_hash:
        type: string
      destination_chain:
        $ref: '#/definitions/v1ChainInfo'
      receive_timestamp:
        type: string
      recipient:
        $ref: '#/definitions/v1AddressInfo'
      destination_transaction_hash:
        type: string
      payload:
        type: string
      extra:
        type: object
        additionalProperties:
          type: string
        title: additional parsed data
      transfers:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1InterchainTransfer'
  v1InterchainTransfer:
    type: object
    properties:
      bridge:
        $ref: '#/definitions/v1BridgeInfo'
      message_id:
        type: string
      status:
        $ref: '#/definitions/v1MessageStatus'
      source_chain:
        $ref: '#/definitions/v1ChainInfo'
      destination_chain:
        $ref: '#/definitions/v1ChainInfo'
      source_token:
        $ref: '#/definitions/v1TokenInfo'
      source_amount:
        type: string
      source_transaction_hash:
        type: string
      sender:
        $ref: '#/definitions/v1AddressInfo'
      send_timestamp:
        type: string
      destination_token:
        $ref: '#/definitions/v1TokenInfo'
      destination_amount:
        type: string
      destination_transaction_hash:
        type: string
      recipient:
        $ref: '#/definitions/v1AddressInfo'
      receive_timestamp:
        type: string
  v1MessagePathRow:
    type: object
    properties:
      source_chain:
        $ref: '#/definitions/v1ChainInfo'
      destination_chain:
        $ref: '#/definitions/v1ChainInfo'
      messages_count:
        type: string
        format: uint64
  v1MessageStatus:
    type: string
    enum:
      - MESSAGE_STATUS_INITIATED
      - MESSAGE_STATUS_COMPLETED
      - MESSAGE_STATUS_FAILED
      - MESSAGE_STATUS_READY_TO_CLAIM
    default: MESSAGE_STATUS_INITIATED
  v1Pagination:
    type: object
    properties:
      page_token:
        type: string
      timestamp:
        type: string
        format: uint64
      message_id:
        type: string
      bridge_id:
        type: integer
        format: int64
      index:
        type: string
        format: uint64
      direction:
        type: string
    description: |-
      Cursor for list pagination (request input and next/prev response params).
      Page tokens and raw cursor fields are only valid within the same complete
      filter combination (`home_chain_id`, `counterparty_chain_ids`,
      `src_chain_ids`, `dst_chain_ids`, `bridge_ids`, and any tx_hash/address
      scope). The cursor does not encode these filters and is not re-validated
      against them, so changing any filter mid-pagination is unsupported and
      yields undefined results; callers must restart pagination when filters change.
  v1SortOrder:
    type: string
    enum:
      - DESC
      - ASC
    default: DESC
    description: Shared ascending/descending order for statistics list endpoints.
  v1StatsBridgedTokenItem:
    type: object
    properties:
      chain_id:
        type: string
      token_address:
        type: string
      name:
        type: string
      symbol:
        type: string
      icon_url:
        type: string
      decimals:
        type: integer
        format: int64
  v1StatsBridgedTokenRow:
    type: object
    properties:
      stats_asset_id:
        type: string
      name:
        type: string
      symbol:
        type: string
      icon_url:
        type: string
      input_transfers_count:
        type: string
        format: uint64
      output_transfers_count:
        type: string
        format: uint64
      total_transfers_count:
        type: string
        format: uint64
      tokens:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1StatsBridgedTokenItem'
  v1StatsChainRow:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      logo:
        type: string
      explorer_url:
        type: string
      unique_transfer_users_count:
        type: string
        format: uint64
  v1StatsChainsListPagination:
    type: object
    properties:
      page_token:
        type: string
      direction:
        type: string
      count:
        type: string
        format: uint64
      chain_id:
        type: string
        format: int64
    description: 'Pagination for `/stats/chains` (composite cursor: direction, count, chain_id).'
  v1StatsChainsSort:
    type: string
    enum:
      - UNIQUE_TRANSFER_USERS_COUNT
    default: UNIQUE_TRANSFER_USERS_COUNT
  v1TokenInfo:
    type: object
    properties:
      address_hash:
        type: string
      name:
        type: string
      symbol:
        type: string
      decimals:
        type: string
      icon_url:
        type: string
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: x-api-key
    in: header
externalDocs:
  description: More about blockscout microservices
  url: https://github.com/blockscout/blockscout-rs
