[package]
name = "eth-bytecode-db-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eth-bytecode-db-proto = { path = "../eth-bytecode-db-proto" }
eth-bytecode-db = { path = "../eth-bytecode-db" }
migration = { path = "../eth-bytecode-db/migration" }
sourcify-search = { path = "../sourcify-search" }

actix-web = "4.2"
amplify = { version = "3.13.0", features = ["derive"] }
anyhow = "1.0"
async-trait = "0.1"
blockscout-display-bytes = "1.0"
blockscout-service-launcher = { version = "0.7.1", features = [ "database-0_11" ] }
config = "0.13"
ethers = "2.0.0"
sea-orm = "0.11"
serde = "1.0"
serde_json = "1.0.96"
serde_with = "2.1"
sourcify = { git = "https://github.com/blockscout/blockscout-rs", branch = "rimrakhimov/libs/sourcify" }
tokio = { version = "1.23", features = [ "rt-multi-thread", "macros" ] }
tonic = "0.8"
tracing = "0.1"

[dev-dependencies]
smart-contract-verifier-proto = { git = "https://github.com/blockscout/blockscout-rs", rev = "52c41ec" }

hex = "0.4.3"
mockall = "0.11"
pretty_assertions = "1.3"
reqwest = { version = "0.11", features = ["json"]}
rand = "0.8"
rstest = "0.16"
sea-orm = { version = "*", features = [ "sqlx-sqlite" ]}
tokio-stream = { version = "0.1", features = ["net"] }