[package]
name = "eth-bytecode-db-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eth-bytecode-db-proto = { path = "../eth-bytecode-db-proto" }

actix-web = "4.2"
anyhow = "1.0"
async-trait = "0.1"
blockscout-service-launcher = "0.1"
tokio = { version = "1.23", features = [ "rt-multi-thread", "macros" ] }
tonic = "0.8"
