[server]
addr = "0.0.0.0:8043"

[sourcify]
api_url = "https://sourcify.dev/server/"
verification_attempts = 3
request_timeout = 10

[solidity]
compilers_list_url = "https://raw.githubusercontent.com/blockscout/solc-bin/main/list.json"
refresh_versions_schedule = "0 0 * * * * *"

[metrics]
endpoint = "/metrics"
addr = "0.0.0.0:6060"
