type: google.api.Service
config_version: 3

http:
  rules:

    - selector: blockscout.daIndexer.v1.CelestiaService.GetBlob
      get: /api/v1/celestia/blob

    - selector: blockscout.daIndexer.v1.CelestiaService.GetL2BatchMetadata
      get: /api/v1/celestia/l2BatchMetadata

    - selector: blockscout.daIndexer.v1.CelestiaService.GetL2Namespaces
      get: /api/v1/celestia/l2Namespaces

    - selector: blockscout.daIndexer.v1.EigenDaService.GetBlob
      get: /api/v1/eigenda/blob
    
    #################### Health ####################

    - selector: blockscout.daIndexer.v1.Health.Check
      get: /health

