[package]
name = "smart-contract-fiesta"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
smart-contract-fiesta-entity = { path = "../smart-contract-fiesta-entity" }
smart-contract-fiesta-migration = { path = "../smart-contract-fiesta-migration" }

anyhow = "1.0.70"
blockscout-display-bytes = "1.0.0"
config = "0.13.3"
eth-bytecode-db-proto = { git = "https://github.com/blockscout/blockscout-rs", rev = "6977d09" }
futures = "0.3"
reqwest = "0.11"
reqwest-middleware = "0.2"
reqwest-retry = "0.2"
scraper = "0.16.0"
sea-orm = "0.11.3"
sea-orm-migration = "0.11.3"
serde = "1.0.160"
serde_json = "1.0.96"
tokio = { version = "1", features = [ "rt-multi-thread", "macros", "fs" ] }
tonic = { version = "0.8", features = ["tls-roots"] }
tracing = "0.1.37"
url = "2.3.1"