[package]
name = "blockscout"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
blockscout-entity = { path = "../blockscout-entity" }
blockscout-migration = { path = "../blockscout-migration" }

anyhow = "1.0.70"
async-trait = "0.1"
blockscout-display-bytes = "1.0.0"
blockscout-service-launcher = { version = "0.9.0", features = ["database-0_12"] }
chrono = "0.4.31"
config = "0.13.3"
eth-bytecode-db-proto = { git = "https://github.com/blockscout/blockscout-rs", rev = "41fc491" }
futures = "0.3"
governor = "0.5.1"
reqwest-rate-limiter = { git = "https://github.com/blockscout/blockscout-rs", rev = "edb610b" }
reqwest = "0.11"
reqwest-middleware = "0.2.3"
reqwest-retry = "0.2.3"
scraper = "0.17.1"
sea-orm = "0.12.3"
sea-orm-migration = "0.12.3"
serde = "1.0.160"
serde_json = "1.0.96"
serde_path_to_error = "0.1.14"
task-local-extensions = "0.1.4"
tokio = { version = "1", features = [ "rt-multi-thread", "macros", "fs" ] }
tokio-stream = "0.1.14"
tracing = "0.1.37"
url = "2.3.1"