type: google.api.Service
config_version: 3

http:
  rules:
    - selector: blockscout.visualizer.v1.SolidityVisualizer.VisualizeContracts
      post: /api/v1/solidity:visualize-contracts
      body: "*"

    - selector: blockscout.visualizer.v1.SolidityVisualizer.VisualizeStorage
      post: /api/v1/solidity:visualize-storage
      body: "*"
    
    - selector: grpc.health.v1.Health.Check
      get: /health
