[package]
name = "stats-server"
version = "0.1.0"
edition = "2021"

[dependencies]
stats = { path = "../stats" }
stats-proto = { path = "../stats-proto" }
async-trait = "0.1"
actix-web = "4"
tonic = "0.8"
serde = { version = "1", features = ["derive"] }
serde_with = { version = "2.0", features = ["hex", "base64"] }
bytes = "1.2"
tokio = { version = "1", features = ["rt-multi-thread"] }
config = "0.13"
tracing = "0.1"
futures = "0.3"
anyhow = "1.0"
chrono = "0.4"
sea-orm = { version = "0.10", features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
blockscout-service-launcher = "0.1"
cron = "0.12"
