[package]
name = "stats-server"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-web = "4"
anyhow = "1.0"
async-trait = "0.1"
blockscout-client = { workspace = true }
blockscout-endpoint-swagger = { git = "https://github.com/blockscout/blockscout-rs", rev = "4a755c5" }
blockscout-service-launcher = { workspace = true, features = ["database-1"] }
bytes = "1.2"
chrono = "0.4"
config = "0.13"
convert_case = "0.6.0"
cron = "0.12"
futures = "0.3"
itertools = "0.13.0"
liquid-json = "0.5.0"
paste = "1.0"
reqwest = "0.12"
sea-orm = { workspace = true, features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
] }
sea-query = { workspace = true }
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
serde_with = { version = "3", features = ["hex", "base64"] }
stats = { path = "../stats" }
stats-proto = { path = "../stats-proto" }
thiserror = "1.0"
tokio = { version = "1", features = ["rt-multi-thread"] }
tokio-util = "0.7.13"
tonic = "0.12"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = { version = "2.5", features = ["serde"] }

[dev-dependencies]
blockscout-service-launcher = { workspace = true, features = [
    "database-1",
    "test-server",
] }
pretty_assertions = "1.3"
reqwest = "0.12"
rstest = { workspace = true }
serde_json = { workspace = true }
serial_test = { workspace = true }
stats = { path = "../stats", features = ["test-utils"] }
wiremock = { workspace = true }
