[package]
name = "visualizer-server"
version = "0.1.0"
edition = "2021"

[lib]
doctest = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
visualizer = { path = "../visualizer" }

# we're not released yet
actix-prost = { git = "https://github.com/blockscout/actix-prost" }
actix-prost-macros = { git = "https://github.com/blockscout/actix-prost" }
actix-web = "4"
actix-web-prom = "0.6"
anyhow = "1.0"
async-trait = "0.1"
bytes = "1.2"
config = "0.13"
env_logger = "0.9"
futures = "0.3"
lazy_static = "1.3"
opentelemetry = {version = "0.18", features = ["rt-tokio"]}
opentelemetry-jaeger = { version = "0.17", features = ["rt-tokio"] }
prometheus = "0.13"
prost = "0.11"
prost-types = "0.11"
serde = { version = "1", features = ["derive"] }
serde_with = { version = "2.0", features = ["hex", "base64"] }
tokio = "1.21"
tonic = "0.8"
tracing = "0.1"
tracing-opentelemetry = "0.18"
tracing-subscriber = {version = "0.3", features = ["env-filter"]}

[dev-dependencies]
pretty_assertions = "1.3"
serde_json = "1.0"
assert-str = "0.1"
walkdir = "2.3"

[build-dependencies]
actix-prost-build = { git = "https://github.com/blockscout/actix-prost" }
tonic-build = "0.8"
prost-build = "0.11"