[workspace]
resolver = "2"
members = [
    "smart-contract-verifier",
    "smart-contract-verifier-http",
    "smart-contract-verifier-proto",
    "smart-contract-verifier-server",
    "sig-provider-extension",
]
