[package]
name = "smart-contract-verifier"
version = "0.2.0"
# authors = [""]
edition = "2021"
repository = "https://github.com/blockscout/blockscout-rs"
keywords = ["ethereum", "web3", "solidity"]

[dependencies]
actix-web = "4"
actix-rt = "2.7"
reqwest = { version = "0.11", features = ["json"] }
clap = { version = "3", features = ["derive"] }
chrono = "0.4"
serde = { version = "1", features = ["derive"] }
tokio = { version = "1", features = ["macros"] }
cron = "0.11"
parking_lot = "0.12"
serde_json = "1"
log = "0.4"
env_logger = "0.9"
semver = "1.0"
anyhow = "1.0"
async-trait = "0.1"
thiserror = "1.0"
url = { version = "2.2", features = ["serde"] }
minicbor = { version = "0.18", features = ["std"] }
bytes = "1.2"
config = "0.13"
sscanf = "0.3"
hex = "0.4"
futures = "0.3"
ethers-solc = { version = "0.17", features = ["svm-solc"] }
ethers-core = "0.17"
primitive-types = "0.11"
serde_with = "2"
ethabi = "17.2"
rust-s3 = "0.32"
sha2 = "0.10"
actix-web-prom = "0.6"
prometheus = "0.13"
lazy_static = "1"
tracing = "0.1"
tracing-actix-web = "0.6"
opentelemetry = { version = "0.17", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.16", features = ["rt-tokio"] }
tracing-opentelemetry = "0.17"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tempfile = "3.3"

[patch.crates-io]
ethers-solc = { git = "https://github.com/gakonst/ethers-rs", package = "ethers-solc", rev = "13a0144a" }

[dev-dependencies]
const_format = "0.2"
rand = "0.8"
wiremock = "0.5"
quick-xml = { version = "0.24", features = ["serialize"] }
pretty_assertions = "1.3"
