swagger: "2.0"
info:
  title: v1/multichain-aggregator.proto
  version: version not set
tags:
  - name: MultichainAggregatorService
  - name: Health
consumes:
  - application/json
produces:
  - application/json
paths:
  /api/v1/addresses:
    get:
      operationId: MultichainAggregatorService_ListAddresses
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListAddressesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: q
          in: query
          required: false
          type: string
        - name: chain_id
          in: query
          required: false
          type: string
        - name: page_size
          in: query
          required: false
          type: integer
          format: int64
        - name: page_token
          in: query
          required: false
          type: string
      tags:
        - MultichainAggregatorService
  /api/v1/chains:
    get:
      operationId: MultichainAggregatorService_ListChains
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListChainsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: only_active
          in: query
          required: false
          type: boolean
      tags:
        - MultichainAggregatorService
  /api/v1/dapps:
    get:
      operationId: MultichainAggregatorService_ListDapps
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListDappsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: q
          in: query
          required: false
          type: string
        - name: categories
          in: query
          required: false
          type: string
        - name: chain_ids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - MultichainAggregatorService
  /api/v1/dapps/categories:
    get:
      operationId: MultichainAggregatorService_ListDappCategories
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListDappCategoriesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - MultichainAggregatorService
  /api/v1/dapps/chains:
    get:
      operationId: MultichainAggregatorService_ListDappChains
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListDappChainsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - MultichainAggregatorService
  /api/v1/import:batch:
    post:
      operationId: MultichainAggregatorService_BatchImport
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1BatchImportResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1BatchImportRequest'
      tags:
        - MultichainAggregatorService
  /api/v1/nfts:
    get:
      operationId: MultichainAggregatorService_ListNfts
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListNftsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: q
          in: query
          required: false
          type: string
        - name: chain_id
          in: query
          required: false
          type: string
        - name: page_size
          in: query
          required: false
          type: integer
          format: int64
        - name: page_token
          in: query
          required: false
          type: string
      tags:
        - MultichainAggregatorService
  /api/v1/search:quick:
    get:
      operationId: MultichainAggregatorService_QuickSearch
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1QuickSearchResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: q
          in: query
          required: false
          type: string
      tags:
        - MultichainAggregatorService
  /api/v1/tokens:
    get:
      operationId: MultichainAggregatorService_ListTokens
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListTokensResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: q
          in: query
          required: false
          type: string
        - name: chain_id
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: page_size
          in: query
          required: false
          type: integer
          format: int64
        - name: page_token
          in: query
          required: false
          type: string
      tags:
        - MultichainAggregatorService
  /api/v1/transactions:
    get:
      operationId: MultichainAggregatorService_ListTransactions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListTransactionsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: q
          in: query
          required: false
          type: string
        - name: chain_id
          in: query
          required: false
          type: string
        - name: page_size
          in: query
          required: false
          type: integer
          format: int64
        - name: page_token
          in: query
          required: false
          type: string
      tags:
        - MultichainAggregatorService
  /health:
    get:
      summary: |-
        If the requested service is unknown, the call will fail with status
        NOT_FOUND.
      operationId: Health_Check
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1HealthCheckResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: service
          in: query
          required: false
          type: string
      tags:
        - Health
definitions:
  BatchImportRequestAddressImport:
    type: object
    properties:
      hash:
        type: string
      ens_name:
        type: string
      contract_name:
        type: string
      token_name:
        type: string
      token_type:
        $ref: '#/definitions/v1TokenType'
      is_contract:
        type: boolean
      is_verified_contract:
        type: boolean
      is_token:
        type: boolean
  BatchImportRequestBlockRangeImport:
    type: object
    properties:
      min_block_number:
        type: string
        format: uint64
      max_block_number:
        type: string
        format: uint64
  BatchImportRequestHashImport:
    type: object
    properties:
      hash:
        type: string
      hash_type:
        $ref: '#/definitions/v1HashType'
  HealthCheckResponseServingStatus:
    type: string
    enum:
      - UNKNOWN
      - SERVING
      - NOT_SERVING
      - SERVICE_UNKNOWN
    default: UNKNOWN
    description: ' - SERVICE_UNKNOWN: Used only by the Watch method.'
  QuickSearchResponseChainBlockNumber:
    type: object
    properties:
      chain_id:
        type: string
        format: int64
      block_number:
        type: string
        format: uint64
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v1Address:
    type: object
    properties:
      hash:
        type: string
      ens_name:
        type: string
      contract_name:
        type: string
      token_name:
        type: string
      token_type:
        $ref: '#/definitions/v1TokenType'
      is_contract:
        type: boolean
      is_verified_contract:
        type: boolean
      is_token:
        type: boolean
      chain_id:
        type: string
  v1BatchImportRequest:
    type: object
    properties:
      chain_id:
        type: string
      addresses:
        type: array
        items:
          type: object
          $ref: '#/definitions/BatchImportRequestAddressImport'
      block_ranges:
        type: array
        items:
          type: object
          $ref: '#/definitions/BatchImportRequestBlockRangeImport'
      hashes:
        type: array
        items:
          type: object
          $ref: '#/definitions/BatchImportRequestHashImport'
      api_key:
        type: string
  v1BatchImportResponse:
    type: object
    properties:
      status:
        type: string
  v1Chain:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      explorer_url:
        type: string
      icon_url:
        type: string
  v1Hash:
    type: object
    properties:
      hash:
        type: string
      hash_type:
        $ref: '#/definitions/v1HashType'
      chain_id:
        type: string
  v1HashType:
    type: string
    enum:
      - HASH_TYPE_BLOCK
      - HASH_TYPE_TRANSACTION
    default: HASH_TYPE_BLOCK
  v1HealthCheckResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/HealthCheckResponseServingStatus'
  v1ListAddressesResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Address'
      next_page_params:
        $ref: '#/definitions/v1Pagination'
  v1ListChainsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Chain'
  v1ListDappCategoriesResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: string
  v1ListDappChainsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Chain'
  v1ListDappsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1MarketplaceDapp'
  v1ListNftsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Address'
      next_page_params:
        $ref: '#/definitions/v1Pagination'
  v1ListTokensResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Token'
      next_page_params:
        $ref: '#/definitions/v1Pagination'
  v1ListTransactionsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Hash'
      next_page_params:
        $ref: '#/definitions/v1Pagination'
  v1MarketplaceDapp:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      logo:
        type: string
      short_description:
        type: string
      chain_id:
        type: string
  v1Pagination:
    type: object
    properties:
      page_token:
        type: string
      page_size:
        type: integer
        format: int64
  v1QuickSearchResponse:
    type: object
    properties:
      addresses:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Address'
      blocks:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Hash'
      transactions:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Hash'
      block_numbers:
        type: array
        items:
          type: object
          $ref: '#/definitions/QuickSearchResponseChainBlockNumber'
      dapps:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1MarketplaceDapp'
      tokens:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Token'
      nfts:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Address'
  v1Token:
    type: object
    properties:
      address:
        type: string
      icon_url:
        type: string
      name:
        type: string
      symbol:
        type: string
      chain_id:
        type: string
      is_verified_contract:
        type: boolean
  v1TokenType:
    type: string
    enum:
      - TOKEN_TYPE_UNSPECIFIED
      - TOKEN_TYPE_ERC_20
      - TOKEN_TYPE_ERC_721
      - TOKEN_TYPE_ERC_1155
      - TOKEN_TYPE_ERC_404
    default: TOKEN_TYPE_UNSPECIFIED
