services:
  redis-db:
    image: 'redis:alpine'
    container_name: redis-db
    command: redis-server
  db-init:
    image: postgres:17
    entrypoint:
      - sh
      - -c
      - |
        chown -R 2000:2000 /var/lib/postgresql/data
    volumes:
      - postgres_data:/var/lib/postgresql/data
  db:
    depends_on:
      db-init:
        condition: service_completed_successfully
    image: postgres:17
    shm_size: 256m
    restart: always
    container_name: 'db'
    command: postgres -c 'max_connections=200' -c 'client_connection_check_interval=60000'
    environment:
        POSTGRES_PASSWORD: ""
        POSTGRES_USER: "postgres"
        POSTGRES_HOST_AUTH_METHOD: "trust"
    ports:
      - "7432:5432"
    volumes:
      - ./database:/var/lib/postgresql/data
  backend:
    depends_on:
      - db
      - redis-db
    image: ghcr.io/blockscout/blockscout-private:9.3.5
    pull_policy: always
    restart: always
    stop_grace_period: 5m
    container_name: 'backend'
    command: sh -c 'bin/blockscout eval "Elixir.Explorer.ReleaseTasks.create_and_migrate()" && bin/blockscout start'
    environment:
      ETHEREUM_JSONRPC_VARIANT: geth
      ETHEREUM_JSONRPC_HTTP_URL: https://subnets.avax.network/numi/mainnet/rpc
      ETHEREUM_JSONRPC_TRACE_URL: https://subnets.avax.network/numi/mainnet/rpc
      # TODO: if the network was deployed a long ago, tune these values
      # to reduce sync time and take care of RPC node resources
      # You can remove/comment the following 4 lines for newly created network
      FIRST_BLOCK: 557000
      TRACE_FIRST_BLOCK: 557000
      # INDEXER_CATCHUP_BLOCKS_BATCH_SIZE: 20
      # INDEXER_CATCHUP_BLOCKS_CONCURRENCY: 1
      DATABASE_URL: postgresql://postgres:ceWb1MeLBEeOIfk65gU8EjF8@db:5432/blockscout
      SECRET_KEY_BASE: 56NtB48ear7+wMSf0IQuWDAAazhpb31qyc7GiyspBP2vh7t5zlCsF5QDv76chXeN # TODO: default, please change
      NETWORK: EVM
      PORT: 4000 
      INDEXER_DISABLE_PENDING_TRANSACTIONS_FETCHER: true
      INDEXER_DISABLE_INTERNAL_TRANSACTIONS_FETCHER: true
      INDEXER_DISABLE_HOT_SMART_CONTRACTS_FETCHER: true
      DISABLE_MARKET: 'true'
      ECTO_USE_SSL: false
      DISABLE_EXCHANGE_RATES: true
      SUPPORTED_CHAINS: "[]"
    ports:
      - "4000:4000"
    links:
      - db:database
    # volumes:
    #   - /etc/blockscout/conf/custom/images:/app/apps/block_scout_web/assets/static/images

  interchain-indexer:
    image: ghcr.io/blockscout/interchain-indexer:latest
    container_name: 'interchain-indexer'
    restart: always
    depends_on:
      - db
    ports:
      - "8050:8050"
      - "8051:8051"
      - "6060:6060"
    environment:
      INTERCHAIN_INDEXER__DATABASE__CONNECT__URL: postgresql://postgres:ceWb1MeLBEeOIfk65gU8EjF8@db:5432/interchain_indexer
      INTERCHAIN_INDEXER__DATABASE__CREATE_DATABASE: true
      INTERCHAIN_INDEXER__DATABASE__RUN_MIGRATIONS: true
      INTERCHAIN_INDEXER__CHAINS_CONFIG: /app/config/chains.json
      INTERCHAIN_INDEXER__BRIDGES_CONFIG: /app/config/bridges.json
      INTERCHAIN_INDEXER__API__USE_PAGINATION_TOKEN: true
      INTERCHAIN_INDEXER__TOKEN_INFO__BLOCKSCOUT_TOKEN_INFO__URL: https://contracts-info-test.k8s-dev.blockscout.com
      INTERCHAIN_INDEXER__TOKEN_INFO__BLOCKSCOUT_TOKEN_INFO__IGNORE_CHAINS: 8021
      INTERCHAIN_INDEXER__METRICS__ENABLED: true
      INTERCHAIN_INDEXER__METRICS__ADDR: 0.0.0.0:6060
      INTERCHAIN_INDEXER__SERVER__HTTP__CORS__ENABLED: true
      INTERCHAIN_INDEXER__SERVER__HTTP__CORS__ALLOWED_ORIGIN: '*'
    volumes:
      - ./config:/app/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
  frontend:
    depends_on:
      - backend
      - caddy
    image: ghcr.io/blockscout/frontend-private:cross-chain-alpha.0
    pull_policy: always
    platform: linux/amd64
    restart: always
    container_name: 'frontend'
    environment:
      NEXT_PUBLIC_API_HOST: localhost
      FAVICON_MASTER_URL: https://ash.center/img/ash-logo.svg # TODO: set to actual logo
      NEXT_PUBLIC_NETWORK_NAME: NUMINE
      NEXT_PUBLIC_NETWORK_ID: 8021
      NEXT_PUBLIC_NETWORK_RPC_URL: https://subnets.avax.network/numi/mainnet/rpc
      NEXT_PUBLIC_NETWORK_CURRENCY_NAME: numine
      NEXT_PUBLIC_NETWORK_CURRENCY_SYMBOL: NUM
      NEXT_PUBLIC_APP_HOST: localhost
      NEXT_PUBLIC_INTERCHAIN_INDEXER_API_HOST: http://localhost:8050
      NEXT_PUBLIC_CROSS_CHAIN_TXS_ENABLED: true
      NEXT_PUBLIC_HOMEPAGE_CHARTS: "['daily_txs']"
      #NEXT_PUBLIC_STATS_API_HOST: ""
      #NEXT_PUBLIC_STATS_API_BASE_PATH: /stats-service
  caddy:
    depends_on:
      - backend
    image: caddy:latest
    container_name: caddy
    restart: always
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - "./Caddyfile:/etc/caddy/Caddyfile"
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"

volumes:
  postgres_data:
  caddy_data:
  caddy_config:

