[package]
name = "multichain-aggregator-server"
version = "0.1.0"
edition = "2021"


[dependencies]
multichain-aggregator-proto = { workspace = true }
multichain-aggregator-logic = { workspace = true }
multichain-aggregator-migration = { workspace = true }
actix-web = { workspace = true }
alloy-primitives = { workspace = true }
anyhow = { workspace = true }
api-client-framework = { workspace = true }
async-trait = { workspace = true }
blockscout-service-launcher = { workspace = true }
blockscout-chains = { workspace = true }
config = { workspace = true }
sea-orm = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
env-collector = { workspace = true }
url = { workspace = true, features = ["serde"] }

[dev-dependencies]
multichain-aggregator-entity = { workspace = true }
blockscout-service-launcher = { workspace = true, features = [ "test-server","test-database"] }
pretty_assertions = { workspace = true }
reqwest = { workspace = true, features = ["json"]}
wiremock = { workspace = true }
