[package]
name = "eth-bytecode-db"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
alloy-json-abi = { workspace = true, features = ["serde_json"] }
anyhow = { workspace = true }
blockscout-display-bytes = { workspace = true }
bytes = { workspace = true }
entity = { workspace = true }
eth-bytecode-db-proto = { workspace = true }
ethabi = { workspace = true }
ethers-core = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
keccak-hash = { workspace = true }
lazy_static = { workspace = true }
mismatch = { workspace = true }
prometheus = { workspace = true }
reqwest = { workspace = true }
sea-orm = { workspace = true, features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
    "postgres-array",
] }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
smart-contract-verifier-proto = { workspace = true, features = ["http-client"] }
solidity-metadata = { workspace = true }
thiserror = { workspace = true }
tokio-stream = { workspace = true }
tracing = { workspace = true }
verification-common = { workspace = true }
verifier-alliance-entity = { workspace = true }
verifier-alliance-database = { workspace = true }

tokio = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, features = ["env-filter"], optional = true }

[dev-dependencies]
async-trait = { workspace = true }
blockscout-service-launcher = { workspace = true, features = [ "test-database" ] }
migration = { workspace = true }
pretty_assertions = { workspace = true }
rstest = { workspace = true }
smart-contract-verifier-proto = { workspace = true, features = ["mock"] }
tokio = { workspace = true }
tonic = { workspace = true }
url = { workspace = true }
verifier-alliance-migration = { workspace = true }

[features]
# When activated includes helper methods for tests and benchmarking
test-utils = [
    "dep:tokio",
    "dep:tracing-subscriber",
    "tokio-rt"
]
tokio-rt = ["tokio/rt-multi-thread"]

[[bin]]
name = "database_populate"
required-features = ["test-utils"]

[[bin]]
name = "database_search"
required-features = ["test-utils"]

[[bin]]
name = "import_abis"
required-features = ["tokio-rt"]
