[package]
name = "eth-bytecode-db"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
entity = { path = "./entity" }
verifier-alliance-entity = { path = "./verifier-alliance-entity" }

anyhow = "1.0"
blockscout-display-bytes = "1.0"
bytes = "1.2"
ethabi = "18.0"
ethers-core = "2.0.0"
hex = "0.4"
mismatch = "1.0"
sea-orm = { version = "0.12.2", features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
    "macros",
    "postgres-array",
] }
futures = "0.3"
keccak-hash = "0.10.0"
lazy_static = "1"
prometheus = "0.13"
reqwest = "0.11.18"
semver = "1.0"
serde = "1.0"
serde_json = "1.0"
smart-contract-verifier-proto = { git = "https://github.com/blockscout/blockscout-rs", rev = "2480b20" }
solidity-metadata = "1.0"
thiserror = "1.0"
tokio = "1.22"
tonic = { version = "0.8", features = ["tls-roots"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"]}

[dev-dependencies]
async-trait = "0.1"
blockscout-service-launcher = { version = "0.9.0", features = [ "test-database", "database-0_12" ] }
migration = {path = "./migration"}
mockall = "0.11"
pretty_assertions = "1.3"
rstest = "0.18.0"
sea-orm = { version = "*", features = ["mock"] }
tokio-stream = { version = "0.1", features = ["net"] }
verifier-alliance-entity = { path = "./verifier-alliance-entity" }
verifier-alliance-migration = { path = "./verifier-alliance-migration" }
url = "2.4.0"

[features]
# When activated includes helper methods for tests and benchmarking
test-utils = []

[[bin]]
name = "database_populate"
required-features = ["test-utils"]

[[bin]]
name = "database_search"
required-features = ["test-utils"]
