[workspace]
resolver = "2"
members = [
    "eth-bytecode-db",
    "eth-bytecode-db/entity",
    "eth-bytecode-db/migration",
    "eth-bytecode-db/verifier-alliance-entity",
    "eth-bytecode-db/verifier-alliance-migration",
    "eth-bytecode-db-server",
    "eth-bytecode-db-proto",
]

[workspace.dependencies]
blockscout-service-launcher = "0.10.0"
#smart-contract-verifier-proto = { git = "https://github.com/blockscout/blockscout-rs", rev = "8c64366f" }
smart-contract-verifier-proto = { path = "../smart-contract-verifier/smart-contract-verifier-proto" }
