.container {
  background: #F2F4F7;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
  position: relative;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
