[workspace]
resolver = "2"
members = [
    "stats",
    "stats-proto",
    "stats-server",
    "stats/migration",
    "stats/entity",
    "env-docs-generation",
]

[workspace.dependencies]
blockscout-client = { git = "https://github.com/blockscout/blockscout-rs/", rev = "d02877c" }
# todo: update to a release version
blockscout-service-launcher = { path = "../libs/blockscout-service-launcher" }
rstest = "0.23.0"
trait-variant = "0.1.2"
wiremock = "0.6.2"
sea-orm = "1.1"
sea-orm-migration = "1.1"
