on:
  push:
    branches:
      - 'main'
    tags:
      - 'da-indexer/v*'
    paths:
      - da-indexer/**
      - .github/workflows/da-indexer.yml
      - .github/workflows/_*.yml
      - .github/workflows/r_*.yml
      - .github/actions/**
  pull_request:
    paths:
      - da-indexer/**
      - .github/workflows/da-indexer.yml
      - .github/workflows/_*.yml
      - .github/workflows/r_*.yml
      - .github/actions/**

name: Test, lint and docker (da-indexer)

defaults:
  run:
    working-directory: da-indexer

jobs:
  test:
    name: Unit, doc and integration tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: admin
          POSTGRES_USER: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup
        with:
          working-directory: da-indexer

      - name: Unit tests
        run: RUST_BACKTRACE=1 RUST_LOG=info cargo test --locked --workspace --all-features --lib --bins -- --nocapture
        if: success() || failure()
        env:
          DATABASE_URL: postgres://postgres:admin@localhost:5432/

      - name: Doc tests
        run: cargo test --locked --workspace --all-features --doc
        if: success() || failure()

      # TODO: Uncomment when integration test added
      # - name: Integration tests
      #   run: RUST_BACKTRACE=1 RUST_LOG=info cargo test --locked --workspace --test '*' -- --nocapture --include-ignored
      #   if: success() || failure()
      #   env:
      #     DATABASE_URL: postgres://postgres:admin@localhost:5432/

  lint:
    name: Linting
    uses: ./.github/workflows/r_linting.yml
    with:
      working-directory: da-indexer

  docker:
    name: Docker build and docker push
    needs:
      - test
      - lint
    if: |
      always() &&
      (needs.test.result == 'success' || needs.test.result == 'cancelled') &&
      (needs.lint.result == 'success' || needs.lint.result == 'cancelled')
    uses: ./.github/workflows/_docker-build-push.yml
    with:
      service-name: da-indexer
