on:
  push:
    branches:
      - 'main'
    tags:
      - 'smart-contract-verifier/v*'
    paths:
      - smart-contract-verifier/**
      - .github/workflows/smart-contract-verifier.yml
      - .github/workflows/_*.yml
      - .github/actions/**
  pull_request:
    paths:
      - smart-contract-verifier/**
      - .github/workflows/smart-contract-verifier.yml
      - .github/workflows/_*.yml
      - .github/actions/**

name: Test, lint and docker (smart-contract-verifier)

defaults:
  run:
    working-directory: smart-contract-verifier

jobs:
  test:
    name: Unit, doc and integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup
        with:
          working-directory: smart-contract-verifier

      - name: Unit tests
        run: RUST_BACKTRACE=1 RUST_LOG=info cargo test --locked --workspace --all-features --lib --bins -- --nocapture
        if: success() || failure()

      - name: Doc tests
        run: RUST_BACKTRACE=1 RUST_LOG=info cargo test --locked --workspace --all-features --doc -- --skip proto
        if: success() || failure()

      - name: Integration tests
        run: RUST_BACKTRACE=1 RUST_LOG=info cargo test --locked --workspace --test '*' -- --nocapture
        if: success() || failure()

  lint:
    name: Linting
    uses: ./.github/workflows/_linting.yml
    with:
      working-directory: smart-contract-verifier

  docker:
    name: Docker build and docker push
    needs:
      - test
      - lint
    if: |
      always() &&
      (needs.test.result == 'success' || needs.test.result == 'cancelled') &&
      (needs.lint.result == 'success' || needs.lint.result == 'cancelled')
    uses: ./.github/workflows/_docker-build-push.yml
    with:
      service-name: smart-contract-verifier
    secrets:
      ARM_RUNNER_HOSTNAME: ${{ secrets.ARM_RUNNER_HOSTNAME }}
      ARM_RUNNER_KEY: ${{ secrets.ARM_RUNNER_KEY }}

  push-swagger:
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags'))
    uses: ./.github/workflows/_push_swagger.yml
    with:
      service_name: 'smart-contract-verifier'
      swagger_path: 'smart-contract-verifier/smart-contract-verifier-proto/swagger/v2/smart-contract-verifier.swagger.yaml'
    secrets:
      api_token_github: ${{ secrets.BLOCKSCOUT_BOT_TOKEN }}
