on:
  push:
    branches:
      - 'main'
    tags:
      - 'user-ops-indexer/v*'
    paths:
      - user-ops-indexer/**
      - .github/workflows/user-ops-indexer.yml
      - .github/workflows/_*.yml
      - .github/actions/**
  pull_request:
    paths:
      - user-ops-indexer/**
      - .github/workflows/user-ops-indexer.yml
      - .github/workflows/_*.yml
      - .github/actions/**

name: Test, lint and docker (user-ops-indexer)

defaults:
  run:
    working-directory: user-ops-indexer

jobs:
  test:
    name: Unit, doc and integration tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: admin
          POSTGRES_USER: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup
        with:
          working-directory: user-ops-indexer

      - name: Unit tests
        run: RUST_BACKTRACE=1 RUST_LOG=info cargo test --locked --workspace --all-features --lib --bins -- --nocapture
        if: success() || failure()
        env:
          DATABASE_URL: postgres://postgres:admin@localhost:5432/

      - name: Doc tests
        run: RUST_BACKTRACE=1 RUST_LOG=info cargo test --locked --workspace --all-features --doc -- --skip proto
        if: success() || failure()

  #       TODO: Uncomment when integration test added
  #    - name: Integration tests
  #      run: RUST_BACKTRACE=1 RUST_LOG=info cargo test --locked --workspace --test '*' -- --nocapture
  #      if: success() || failure()

  lint:
    name: Linting
    uses: ./.github/workflows/_linting.yml
    with:
      working-directory: user-ops-indexer

  docker:
    name: Docker build and docker push
    needs:
      - test
      - lint
    if: |
      always() &&
      (needs.test.result == 'success' || needs.test.result == 'cancelled') &&
      (needs.lint.result == 'success' || needs.lint.result == 'cancelled')
    uses: ./.github/workflows/_docker-build-push.yml
    with:
      service-name: user-ops-indexer

  push-swagger:
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags'))
    uses: ./.github/workflows/_push_swagger.yml
    with:
      service_name: 'user-ops-indexer'
      swagger_path: 'user-ops-indexer/user-ops-indexer-proto/swagger/user-ops-indexer.swagger.yaml'
    secrets:
      api_token_github: ${{ secrets.BLOCKSCOUT_BOT_TOKEN }}