services:
  ensindexer:
    container_name: ensindexer
    image: ghcr.io/namehash/ensnode/ensindexer:1.0.0-rc.10
    ports:
      - "42069:42069"
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/postgres # DATABASE CRED
      ENSRAINBOW_URL: http://ensrainbow:3223 # POINTS TO ENSRAINBOW SERVICE
      ENSINDEXER_URL: http://ensindexer:42069 # POINTS TO SELF

      DATABASE_SCHEMA: prod1
      NAMESPACE: mainnet
      PLUGINS: subgraph,basenames,threedns
      LABEL_SET_ID: subgraph
      LABEL_SET_VERSION: 0
      SUBGRAPH_COMPAT: "true"
      RPC_URL_1: https://eth-mainnet-prod-2.node.blockscout.com
      RPC_URL_10: https://optimism-mainnet-prod-2.node.blockscout.com
      RPC_URL_8453: https://base-mainnet-prod-2.node.blockscout.com
      RPC_URL_42161: https://arbitrum-one-prod-2.node.blockscout.com
      RPC_URL_59144: ""
      RPC_URL_534352: https://scroll-mainnet.node.blockscout.com
    healthcheck:
      test: ["CMD", "curl", "--fail", "-s", "http://localhost:42069/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5m
      start_interval: 1s
    depends_on:
      ensrainbow:
        condition: service_healthy
      postgres:
        condition: service_started

  ensapi:
    container_name: ensapi
    image: ghcr.io/namehash/ensnode/ensapi:1.0.0-rc.10
    ports:
      - "4334:4334"
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/postgres # DATABASE CRED
      ENSINDEXER_URL: http://ensindexer:42069 # POINTS TO ENSINDEXER SERVICE

      RPC_URL_1: https://eth-mainnet-prod-2.node.blockscout.com
    healthcheck:
      test: ["CMD", "curl", "--fail", "-s", "http://localhost:4334/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 1m
      start_interval: 1s
    depends_on:
      ensindexer:
        condition: service_healthy
      postgres:
        condition: service_started

  ensrainbow:
    container_name: ensrainbow
    image: ghcr.io/namehash/ensnode/ensrainbow:1.0.0-rc.10
    ports:
      - "3223:3223"
    environment:
      LOG_LEVEL: info
      DB_SCHEMA_VERSION: "3"
      LABEL_SET_ID: subgraph
      LABEL_SET_VERSION: "0"
    volumes:
      - ensrainbow_data:/app/apps/ensrainbow/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:3223/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 20m
      start_interval: 1s

  postgres:
    container_name: postgres
    image: postgres:17
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
    driver: local
  ensrainbow_data:
    driver: local